.rightSidebar {
  margin-top: -26px
}

.rightSidebar p a {
  color: var(--theme-white);
}

.rightSidebar p a:hover {
  color: var(--link-hover-color);
}

.rightSidebar.categories p {
  color: var(--theme-black);
}

.rightSidebar ul {
  list-style: none;
}

.rightSidebar ul li a {
  color: var(--even-color);
}

.rightSidebar ul li a:hover {
  color: var(--link-hover-color);
}

/* ============================================== Headings ============================================== */


.rightSidebar h2,
.rightSidebar h2 a {
  color: #dce2e8;
  font-size: 1.25em;
  clear: both;
}

.rightSidebar h3,
.rightSidebar h3 a {
  color: #dce2e8;
  font-size: 1.05em;
}

.rightSidebar.categories h2,
.rightSidebar.categories h2 a,
.rightSidebar.categories h3,
.rightSidebar.categories h3 a {
  color: var(--main-blue-color);

}

/* ============================================== Utility Classes ============================================== */

.sidebarImg {
  margin: 20px 0 10px 0;
}

/* social links */
.rightSidebar .sociallinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 45px);
  justify-content: space-evenly;
}

.imagelist li:not(.email) a {
  display: grid;
  /* max-height: 35px; */
  grid-template-columns: 35px 1fr;
  gap: 1em;
  align-items: center;
  margin: 1em 0 1em 0;
}

/* ============================================== contact cards ============================================== */
.rightSidebar .personalvCard {
  margin: 20px 0 30px 0;
  min-height: 150px;
}

.rightSidebar .personalvCard img {
  max-width: 100px;
  float: right;
  height: auto;
  margin-bottom: 0 0 1em 1em;
}

.rightSidebar .personalvCard ul {
  width: calc(100% - 120px);
  font-size: .65em;
}

.rightSidebar .personalvCard .title {
  font-size: 1em;
  font-style: italic;
}

.sidebar .personalvCard .assignedschool {
  margin-top: 15px;
}

/* ============================================== Categories Sidebar ============================================== */
#rightSidebar.categories {
  background-color: var(--odd-color);
}

#rightSidebar.categories a {
  color: var(--link-color);
}

#rightSidebar.categories a:hover {
  color: var(--link-hover-color);
}

#rightSidebar.categories .categories-6h ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  gap: 1em;
}

#rightSidebar.categories .categories-6h ul li {
  background-color: var(--theme-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#rightSidebar.categories .categories-6h ul li a {
  width: 100%;
  text-align: center;
}

#rightSidebar.categories .categories-6h ul li a::before {
  content: '';
  width: 100%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
  background-size: cover;
  display: block;
}

#rightSidebar .buttonlink {
  background: #dce2e8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3),
    inset 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
}

#rightSidebar .buttonlink:hover {
  box-shadow: none;
}

#rightSidebar .buttonlink span {
  font-size: 14px;
  display: block;
  text-align: center;
}

#rightSidebar .buttonlink a {
  color: #223a59;
  text-decoration: none;
}