:root {
  --main-blue-color: #1c2f4a;
  --even-color: #e5ebf1;
  --odd-color: #f5f7fa;
  --theme-white: #fff;
  --theme-black: #000;
  --theme-grey: #ccc;
  --light-grey: #999;
  --dark-grey: #777;
  --main-ltblue-color: #dde0e7;
  --link-color: #4f679e;
  --link-hover-color: #df6d1b;
  --emp-color: #2c4938;
  --com-color: #1c2f4a;
  --stu-color: #C25400;
  --body-background: #8E9BAC;
  /* 
  Previous Settings
  --theme-grey:#ccc;
  --light-grey:#999;
  --even-color:#f1f5f9;
  --odd-color:#dbe1e7;
  --theme-grey:#f0f0f0;
  --light-grey:#dcdcdc;
  */
}